[submodule "3rdparty/pico-sdk"]
	path = 3rdparty/pico-sdk
	url = git@github.com:raspberrypi/pico-sdk.git
[submodule "protos"]
	path = protos
	url = git@github.com:Immortals-Robotics/ImmortalsProtos.git
